.item {
   background-color:rgba(117, 117, 117,0.5);
    box-shadow: 3px 3px 3px #444444;
    margin: 2%;
    height: 75px;
    padding-left: 3%;
     padding-top: 2%;
}

.item:hover {
    cursor: pointer;
    background-color: rgba(46, 204, 113,0.7);
}