<link rel="stylesheet" href="css/cashierview.css">
<h1>This is Cashier view</h1>
<div>
    <!-- left panels -->
    <div class="col-md-3 left-panel panels">
      <div class="left-items">Point of Sale</div>
        <div class="left-items">Create Menu </div>
        <div class="left-items">Manage Employees </div>
        <div class="left-items">Inventory Management</div>
        <div class="left-items">Predictive Analysis </div>
        <div class="left-items">Valuable Customers </div>
        <div class="left-items">Dashboard </div>
    </div>
    
    
    
    
    <!-- right panels -->
    <div class="col-md-8 right-panel panels">right panel</div>
</div>