<head><link rel="stylesheet" href="css/confirmordermodal.css"/>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>
<div class="container-fluid mainContainer">
<h3>Order Confirmation</h3>
<h4>Order Summary</h4>

    <div class="orderSummary">
<div ng-repeat="ind in selectedStarterArray" class="indItem">
    {{ind.name}}<br>
     {{ind.Price | currency}}
</div>
    Table NO:    {{selectedTable}}
  </div> 
    <div>
      Total items: {{selectedStarterArray.length}}
    </div>
    <div>
       Total Cost: {{totalPrice | currency}}
    </div>
<br>
<div   class="bg-success"><p> Your Order has been sent. It might take 15 to 20 Minutes</p></div>
<br>
<button class="btn btn-danger" ng-click="closeModal()">Cancel</button>
    </div>